
body {
    margin: 0;
    font-family: 'Seoge UI', sans-serif;
    background: linear-gradient(135deg, #111, #1f1f1f);
    color: white;
    text-align: center;
    line-height: 1.6;
}

header {
    padding: 60px 20px;
    max-width: 700px;
    margin: 0 auto;
}

header h1 {
    font-size: clamp(26px, 4vw, 40px);
    margin-bottom: 20px;
}

header p {
    color: #ccc;
    margin-bottom: 30px;
    font-size: 18px;
}

.main_button {
    display: inline-block;
    margin: 20px 0;
    padding: 15px 28px;
    background: #ff9900;
    color: black;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s ease;
}

.main_button:hover {
    background: #ffc266;
    transform: scale(1.05);
}

/* benefits section */
.benefits {
    justify-content: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 700px;
    background: #141414;
    text-align: center;
}
.benefit{
    justify-content: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 20px;
    margin: 0 auto;
    max-width: 700px;
    background: #141414;
    text-align: center;
}

.benefit h3 {
    margin-bottom: 10px;
    color: #ff9900;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 30px;
    max-width: 700px;
    margin: 0 auto
}

.card {
    background: #1c1c1c;
    width: 300px;
    border-radius: 12px;
    padding: 20px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    margin: 15px 0 10px;
}
.card p {
    font-size: 14px;
    color: #ccc;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background: #ff9900;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
}

footer {
    padding: 20px;
    font-size: 13px;
    color: #aaa;
    max-width: 700px;
    margin: 0 auto;
}

/* RESPONSIVIDADE */
@media (min-width: 1400px) {
    header{
        padding: 100px 20px;
    }

    .all {
        padding: 80px 20px;
    }
}